<% @videos.each do |video| %>
  
  <h2><%= "#{video.service.name}: #{video.title}" %></h2>
  <p><%= video.description %></p>
  
  <div id="<%= "wistia_#{video.wistia_id}" %>" class="wistia_embed" style="width:640px;height:360px;"></div>
  <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js"></script>
  <script>
    wistiaEmbed = Wistia.embed("sk3fo15obd");
  </script>
  
  <br>
  
  <div class="panel panel-default">
    <div class="panel-body">
  
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><%= link_to "Transcript", "#transcript", :'data-toggle' => "tab" %></li>
        <li><%= link_to "Notes", "#notes", :'data-toggle' => "tab" %></li>
        <li><%= link_to "Discussion", "#discussion", :'data-toggle' => "tab" %></li>
      </ul>
      
      <br>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade in active" id="transcript">
          <div class="transcript">
            <% unless video.transcript.blank? %>
              <%= video.transcript %>
              <%#= raw textilize(coderay(@video.try(:transcript))) %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="notes">
          <div class="notes">
            <% unless video.notes.blank? %>
              <%= video.notes %>
              <%#= raw textilize(coderay(@video.try(:notes))) %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="discussion">

          <!-- Display comment form -->
          <div class="comment-form">
            <h4>Post a comment</h4>
            <%#= render partial: 'comments/form', locals: { comment: @new_comment, parent_id: nil } %>
          </div>

          <!-- Display all comments -->
          <%#= render partial: 'comments/comment', collection: @comments, as: :comment,
              locals: { new_comment: @new_comment } %>

        </div>
      </div>
    </div>
  </div>
  
<% end %>
